.card{
    height: 377px;
    width: 359px;
    border-radius: 14px;
    border: 1.4px solid var(--color-fadedWhite);
    display: flex;
    flex-direction: column;
    padding: 28px 23px 36px 23px;
    justify-content: space-between;
}

.hover :hover{
    background-color: var(--color-fadedWhite);
}

.image{
    height: 101px;
    width: 101px;
}

.success{
    text-align: left;
}

.para{
    font-size: 14px;
    height: 69px;
    width: 293px;
    opacity: 30%;
    line-height: 22.57px;
    text-align: left;
}


.button{
    width: 121px;
    height: 43px;
    border-radius: 23.5px;
    border: none;
    color: var(--color-black);
    background-color: var(--color-yellow);
    cursor: pointer;
}

.ceo{
    opacity: 100%;
}