.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexarea {
    margin-top: 110px;
    width: 1140px;
    height: 1228px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.item{
    position: relative;
    cursor: pointer;
}

h1{
    font-size: 54px;
    font-weight: 600;
}

.text{
    position: absolute;
    bottom: 41px;
    left: 50%;
    transform: translate(-50%);
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    z-index: 1;
}