.footer {
    margin-top: 242px;
    height: 367px;
    width: 100%;
    background-color: var(--color-deepblack);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.rights {
    font-size: 14px;
    font-family: Helvetica;
    display: flex;
    gap: 10px;
}

.wrapper {
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 140px;
}

.navlinks {
    width: 548px;
    display: flex;
    justify-content: space-between;
}

.media {
    width: 187px;
    display: flex;
    justify-content: space-between;
}