@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root{
  --color-deepblack: #111111;
  --color-black: #1d1d1d;
  --color-yellow: #e3b748;
  --color-grey: #2e2e2e;
  --color-smokewhite: #e6e6e6;
  --color-white: #ffffff;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: var(--color-black);
  color: var(--color-white);
  overflow-x: hidden;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

.swiper-slide{
  width: auto !important;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}